<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
  <title>Storapp</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
   <!-- FOR CustOM Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  
      <!--  THE Plugin CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
     <!-- tHE Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    
  <%= csrf_meta_tags %>
</head>
<body id="page-top">
     <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class='container'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: 'navbar-brand' do %>
            <i class="fa fa-users"></i>
             Storapp
             <% end %>
        </div>
           <div class="collapse navbar-collapse" id="main-nav-collapse">
              <div class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                <%= button_to "Sign Out",destroy_user_session_path,method: :delete, class: 'btn btn-primary navbar-btn' %>
                <% else %>
            
                <%=link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-primary', method: :get %>
                <% end %>
              </div>
              <ul class="nav navbar-nav navbar-right">
               <% if user_signed_in? %>
               <li><%= link_to "Create Doc", new_doc_path %></li>
                <% end %>
              </ul>
        </div>
    
    </div>
    
</nav>
     <div class="container">
         <% flash.each do |key,value| %>
         <%= content_tag :div, value, class: "alert alert-#{key}" %>
         <% end %>

          <%= yield %>
      </div>
</body>
</html>
